# ignores all files without extensions (mostly binaries)
*
!*.*
!*/

# object files are also binaries; ignore those too
*.o

# default binaries
a.out

# pre-compiled header files
*.gch

# downloaded exercise directory
learn-program-cplusplus/

# vscode files
.vscode

# don't ignore makefiles!
!makefile